@global-font-color: #545d69;
@nav-font-color: #6a7383;
input {
    -webkit-appearance: none;
}

.spec {
    .zc-top-nav {
        background-color: transparent;
        box-shadow: 0px 0px 0px transparent;
        .zc-top-nav-inner {
            .logo-outer {
                background-position: -130px -68px;
            }
            .nav-outer {
                ul.topnav {
                    li.top-nav-item {
                        >a {
                            color: white;
                        }
                        >span {
                            color: white;
                        }
                        em {
                            background-position: -40px -29px;
                        }
                    }
                }
            }
        }
    }
    .zc-top-nav-m {
        background-color: transparent;
        border-bottom: 0px;
        .register-link {
            background-color: transparent;
            border: 1px solid white;
        }
        .switch-btn {
            cursor: pointer;
            li {
                background-color: white;
            }
        }
        .logo-outer {
            img {
                display: none;
                &.white {
                    display: inline-block;
                }
            }
        }
    }
}

.zc-top-nav {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10000;
    background-color: white;
    color: @global-font-color;
    transition: background-color 0.3s ease-out;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
    .zc-top-nav-inner {
        max-width: 1200px;
        box-sizing: border-box;
        padding: 0px 30px;
        margin: auto;
        height: 100%;
        .nav-outer {
            height: 100%;
            float: right;
            min-width: 10px;
            position: relative;
            .sub-nav-outer {
                position: absolute;
                top: 100%;
                display: none;
                overflow: hidden;
                left: -280px;
                height: 130px;
                min-width: 10px;
                width: 840px;
                background-color: white;
                box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                &.solution {
                    width: 720px;
                    left: -170px;
                }
                ul {
                    list-style-type: none;
                    list-style-position: inside;
                    margin: 0px;
                    padding: 0px;
                    overflow: hidden;
                    height: 100%;
                    li {
                        height: 100%;
                        float: left;
                        width: 120px;
                        &:hover,
                        &.active {
                            background-color: #f6f6f9;
                        }
                        a {
                            text-decoration: none;
                        }
                        box-sizing: border-box;
                        position:relative;
                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                        &:after {
                            content: " ";
                            display: block;
                            height: 99px;
                            width: 1px;
                            background-color: #edf1f5;
                            position: absolute;
                            right: 0px;
                            top: 14px;
                        }
                        .icon-logo {
                            margin: auto;
                            height: 33px;
                            width: 39px;
                            margin-top: 25px;
                            background-image: url(../images/major_spirite.png);
                            &.solution {
                                height: 24px;
                                margin-bottom: 18px;
                                background-position: -53px -3px;
                            }
                            &.cloud {
                                height: 34px;
                                margin-bottom: 8px;
                                background-position: -95px 0px;
                            }
                            &.robot {
                                height: 26px;
                                margin-bottom: 16px;
                                width: 44px;
                                background-position: -141px 0px;
                            }
                            &.manual {
                                height: 31px;
                                margin-bottom: 11px;
                                background-position: -186px 0px;
                            }
                            &.workorder {
                                height: 31px;
                                margin-bottom: 11px;
                                background-position: -224px 0px;
                            }
                            &.app {
                                height: 31px;
                                width: 25px;
                                margin-bottom: 11px;
                                background-position: -264px 0px;
                            }
                            &.platform {
                                height: 33px;
                                margin-bottom: 11px;
                                background-position: -293px 0px;
                            }
                            &.economic {
                                height: 35px;
                                margin-bottom: 11px;
                                background-position: 2px -259px;
                            }
                            &.education {
                                height: 35px;
                                margin-bottom: 11px;
                                background-position: -36px -259px;
                            }
                            &.business {
                                height: 35px;
                                margin-bottom: 11px;
                                background-position: -76px -259px;
                            }
                            &.company {
                                height: 35px;
                                margin-bottom: 11px;
                                background-position: -119px -259px;
                            }
                            &.life {
                                height: 35px;
                                margin-bottom: 11px;
                                background-position: -162px -259px;
                            }
                            &.other {
                                height: 35px;
                                margin-bottom: 11px;
                                background-position: -203px -259px;
                            }
                        }
                        .text {
                            max-width: 85px;
                            margin: auto;
                            font-size: 14px;
                            line-height: 17px;
                            color: #535b6d;
                            text-align: center;
                        }
                    }
                }
            }
            ul.topnav {
                list-style-type: none;
                list-style-position: inside;
                margin: 0px;
                padding: 0px;
                height: 100%;
                li.top-nav-item {
                    height: 100%;
                    line-height: 65px;
                    float: left;
                    padding-right: 40px;
                    font-size: 16px;
                    cursor: pointer;
                    >a {
                        color: @global-font-color;
                        text-decoration: none;
                        transition: color 0.3s ease-in-out;
                    }
                    >span {
                        color: @nav-font-color;
                        transition: color 0.3s ease-in-out;
                    }
                    &.active {
                        >span,
                        >a {
                            color: #09aeb0;
                        }
                        em {
                            background-position: -40px -6px;
                        }
                    }
                    &:hover {
                        .sub-nav-outer {
                            display: block;
                        }
                        >span,
                        >a {
                            color: #09aeb0;
                        }
                        em {
                            background-position: -40px -6px;
                        }
                    }
                    em {
                        margin-left: 8px;
                        font-style: normal;
                        height: 6px;
                        width: 11px;
                        position: relative;
                        top: -2px;
                        background-image: url(../images/major_spirite.png);
                        background-position: -40px -18px;
                        display: inline-block;
                    }
                }
            }
        }
        .dingding-outer {
            width: 98px;
            height: 24px;
            float: left;
            margin-top: 17px;
            margin-left: 20px;
            .dingding-logo {
                height: 100%;
            }
            img {
                height: 100%;
            }
        }
        .logo-outer {
            cursor: pointer;
            height: 100%;
            float: left;
            margin-top: 15px;
            width: 121px;
            height: 32px;
            background-position: -0px -70px;
            background-image: url(../images/major_spirite.png);
            .logo-text {
                display: inline-block;
                vertical-align: middle;
                height: 34px;
                text-align: left;
                .text {
                    font-size: 16px;
                    font-weight: bold;
                    color: #333333;
                    transition: color 0.3s ease-in-out;
                    max-width: 65px;
                    &.spec {
                        font-size: 12px;
                        font-weight: normal;
                        position: relative;
                        left: -8px;
                        top: -3px;
                        transform: scale(0.7);
                    }
                }
            }
            .logo-image {
                height: 34px;
                background-position: -2px -35px;
                vertical-align: middle;
                display: inline-block;
                width: 34px;
                background-image: url(../images/major_spirite.png);
            }
        }
        .buttons-outer {
            height: 100%;
            float: right;
            min-width: 20px;
            a.btn {
                background-color: transparent;
                border: 1px solid #09aeb0;
                border-radius: 2px;
                color: #09aeb0;
                text-align: center;
                text-decoration: none;
                line-height: 34px;
                display: inline-block;
                width: 78px;
                font-size: 14px;
                margin-top: 15px;
                transition: background-color 0.2s ease-in-out;
                height: 34px;
                &:hover {
                    background-color: rgba(9, 174, 176, 0.1);
                }
                &.btn-register {
                    background-color: #09aeb0;
                    margin-left: 10px;
                    color: white;
                    &:hover {
                        background-color: #039d9f;
                    }
                }
            }
        }
    }
}

.zc-top-nav-m {
    transition: background-color 0.3s ease-in-out, border-width 0.3s ease-in-out;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 10000;
    min-height: 50px;
    border-bottom: 1px solid #e0e5eb;
    &.show {
        .sub-nav {
            opacity: 1;
            height: auto;
            min-height: 10px;
            border-top: 1px solid #e0e5eb;
        }
        div.sub-nav-ul {
            .production-list {
                .sub-sub-nav {
                    height: auto;
                    min-height: 10px;
                }
            }
        }
    }
    .sub-nav {
        width: 100%;
        height: 0px;
        overflow: hidden;
        clear: both;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        background-color: #f8f8f8;
        margin-top: 10px;
    }
    .sep-line {
        height: 1px;
        clear: both;
    }
    div.sub-nav-ul {
        &:after {
            content: " ";
            display: block;
            height: 1px;
            visibility: hidden;
            clear: both;
        }
        .links-list {
            float: left;
            width: 37%;
            li {
                height: 44px;
                line-height: 44px;
                margin-top: 15px;
                text-align: left;
                box-sizing: border-box;

                &:active {
                    background-color: #e8ecec;
                }
                a {
                    &:active {
                        background-color: transparent;
                    }
                    padding-left: 16px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 15px;
                    color: #6d7787;
                    text-decoration: none;
                }
            }
        }
        .production-list {
            width: 63%;
            min-height: 10px;
            box-sizing: border-box;
            border-right: 1px solid #e0e5eb;
            float: left;
            padding-bottom: 15px;
            .sub-sub-nav {
                padding: 0px 0px;
                background-color: #f8f8f8;
                height: 0px;
                overflow: hidden;
                transition: padding 0.3s ease-in-out, height 0.3s ease-in-out;
                li {
                    box-sizing: border-box;
                    text-align: left;
                    font-size: 15px;
                    min-height: 44px;
                    line-height: 44px;
                    position: relative;
                    margin-top: 15px;

                    a {
                        display: block;
                        height: 100%;
                        color: #6d7787;
                        text-decoration: none;
                        padding-left: 25px;
                        width: 100%;
                        box-sizing: border-box;
                        &:active {
                            background-color: #e8ecec;
                        }
                    }
                    .img-outer {
                        text-align: center;
                        display: inline-block;
                        height: 36px;
                        width: 60px;
                        vertical-align: middle;
                        &.spec {
                            height: 25px;
                        }
                        img {
                            height: 100%;
                            &.spec {
                                height: 35px;
                                position: relative;
                                top: -7px;
                            }
                        }
                    }
                    &.active {
                        background-color: #e8ecec;
                    }
                }
            }
        }
    }
    .register-link {
        text-decoration: none;
        display: block;
        float: right;
        height: 30px;
        box-sizing: border-box;
        width: 92px;
        background-color: #09aeb0;
        border-radius: 2px;
        text-align: center;
        line-height: 30px;
        font-size: 15px;
        color: white;
        margin-top: 10px;
        margin-right: 26px;
        transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    }
    .switch-btn {
        width: 20px;
        height: 17px;
        margin: 0px;
        padding: 0px;
        float: right;
        cursor: pointer;
        margin-right: 15px;
        margin-top: 16px;
        li {
            width: 100%;
            height: 2px;
            margin-top: 5px;
            border-radius: 1px;
            background-color: #09aeb0;
            transition: background-color 0.3s ease-in-out;
            &:first-child {
                margin-top: 0px;
            }
        }
    }
    .logo-outer {
        width: 102px;
        height: 29px;
        margin-top: 10px;
        float: left;
        margin-left: 15px;
        img {
            height: 100%;
            width: 100%;
            &.white {
                display: none;
            }
        }
    }
}

@media screen and (max-width:325px) {
    .zc-top-nav-m {
        div.sub-nav-ul {
            .production-list {
                .sub-sub-nav {
                    li {
                        .img-outer {
                            width: 40px;
                        }
                    }
                }
            }
        }
        .sub-nav {
            .sub-nav-ul {
                .production-list {
                    .sub-sub-nav {
                        li {
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:960px) {
    .zc-top-nav-m {
        display: none;
    }
}

@media screen and (max-width:960px) {
    .zc-top-nav {
        display: none;
    }
}
